<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">
<meta name="description" content="">
<meta name="keyword" content="">
<meta name="robots" content="index, follow">

<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="https://">
<meta property="og:image" content="">
<meta property="og:description" content="">

<link rel="shortcut icon" type="image/x-icon" href="file.ico">
<link rel="icon" type="image/png" sizes="192x192" href="file.png">
<link rel="icon" type="image/png" sizes="96x96" href="file.png">
<link rel="icon" type="image/png" sizes="32x32" href="file.png">
<link rel="icon" type="image/png" sizes="16x16" href="file.png">

<link rel="stylesheet" href="/dist/stylesheet/style.css">
<link rel="stylesheet" href="/dist/stylesheet/rcol.css">

<title>RCOL DESIGN SYSTEMS</title>